<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Interaction Form</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">
    <div class="form-section">
        <input type="text" id="idInstance" placeholder="IdInstance" name="idInstance">

        <br>

        <input type="text" id="apiTokenInstance" placeholder="ApiTokenInstance" name="apiTokenInstance">

        <br>


        <button type="button" onclick="getSettings()">getSettings</button>


        <br>

        <button type="button" onclick="getStateInstance()">getStateInstance</button>

        <br>

        <label for="messageInput">Message:</label>
        <br>
        <input type="text" id="messageInput" name="messageInput" placeholder="77771234567">
        <br>

        <textarea id="messageText" rows="3" placeholder="Hello World!"></textarea>
        <br>
        
        <button type="button" onclick="sendMessage()">sendMessage</button>
        <br>

        <label for="fileInput">File URL:</label>
        <br>
        <input type="text" id="numberFile" name="messageInput" placeholder="77771234567">
        <br>
        <input type="text" id="fileInput" name="fileInput" placeholder="https://my.site.com/img/horse.png">
        <br>
        <button type="button" onclick="sendFileByUrl()">sendFileByUrl</button>
    </div>

    <div class="response-section">
        <pre id="responseOutput">empty</pre>
    </div>
</div>

<script>
    async function getSettings() {
        const idInstance = document.getElementById('idInstance').value;
        const apiTokenInstance = document.getElementById('apiTokenInstance').value;
        const responseOutput = document.getElementById('responseOutput');

        try {
            const response = await fetch('http://127.0.0.1:8080/settings', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    idInstance: idInstance,
                    apiTokenInstance: apiTokenInstance,
                }),
            });

            // Проверяем, удачный ли ответ
            if (response.ok) {
                const data = await response.json();
                var str = JSON.stringify(data, null, 1);
                responseOutput.textContent = str; // Выводим ответ
            } else {
                responseOutput.textContent = 'Ошибка при получении настроек';
            }
        } catch (error) {
            responseOutput.textContent = 'Ошибка сети: ' + error.message;
        }
    }

    async function getStateInstance() {
        const idInstance = document.getElementById('idInstance').value;
        const apiTokenInstance = document.getElementById('apiTokenInstance').value;
        const responseOutput = document.getElementById('responseOutput');

        try {
            const response = await fetch('http://127.0.0.1:8080/state', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    idInstance: idInstance,
                    apiTokenInstance: apiTokenInstance,
                }),
            });

            // Проверяем, удачный ли ответ
            if (response.ok) {
                const data = await response.json();
                var str = JSON.stringify(data, null, 1);
                responseOutput.textContent = str; // Выводим ответ
            } else {
                responseOutput.textContent = 'Ошибка при получении настроек';
            }
        } catch (error) {
            responseOutput.textContent = 'Ошибка сети: ' + error.message;
        }
    }

    async function sendMessage() {
        const idInstance = document.getElementById('idInstance').value;
        const apiTokenInstance = document.getElementById('apiTokenInstance').value;
        const numberForSend = document.getElementById('messageInput').value;
        const textForSend = document.getElementById('messageText').value;
        const responseOutput = document.getElementById('responseOutput');

        try {
            const response = await fetch('http://127.0.0.1:8080/send', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    idInstance: idInstance,
                    apiTokenInstance: apiTokenInstance,
                    number: numberForSend,
                    text: textForSend,
                }),
            });

            // Проверяем, удачный ли ответ
            if (response.ok) {
                const data = await response.json();
                var str = JSON.stringify(data, null, 1);
                responseOutput.textContent = str; // Выводим ответ
            } else {
                responseOutput.textContent = 'Ошибка при получении настроек';
            }
        } catch (error) {
            responseOutput.textContent = 'Ошибка сети: ' + error.message;
        }
    }

    async function sendFileByUrl() {
        const idInstance = document.getElementById('idInstance').value;
        const apiTokenInstance = document.getElementById('apiTokenInstance').value;
        const numberForSend = document.getElementById('numberFile').value;
        const fileForSend = document.getElementById('fileInput').value;
        const responseOutput = document.getElementById('responseOutput');

        try {
            const response = await fetch('http://127.0.0.1:8080/file', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    idInstance: idInstance,
                    apiTokenInstance: apiTokenInstance,
                    number: numberForSend,
                    file: fileForSend,
                }),
            });

            // Проверяем, удачный ли ответ
            if (response.ok) {
                const data = await response.json();
                var str = JSON.stringify(data, null, 1);
                responseOutput.textContent = str; // Выводим ответ
            } else {
                responseOutput.textContent = 'Ошибка при получении настроек';
            }
        } catch (error) {
            responseOutput.textContent = 'Ошибка сети: ' + error.message;
        }
    }
</script>

</body>
</html>